.aside__item:not(:last-child) {
    margin-bottom: 10px;
}
.aside__nav-btn {
    padding-bottom: 15px;
    position: relative;
    transition: color .4s;
    font-size: 16px;
}

.aside__nav-btn::after {
    content: '';
    background-color: #ff8b00;
    display: block;
    width: 0px;
    height: 4px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width .3s linear;
}
.aside__nav-btn._spoller-active::after {
    width: 100%;
}
.aside__nav-btn:hover {
    color: #ff8b00;
}

.aside__submenu li {
    transition: color .4s;
    display: flex;
    align-items: center;
    column-gap: 10px;
    cursor: pointer;
}
.aside__submenu li:not(:last-child) {
    margin-bottom: 20px;
}


.aside__submenu li h4 {
    font-weight: 700;
    margin: 0;
     font-size: 16px;

}

.aside__submenu li button {
    display: flex;
    align-items: center;
}

.aside__submenu li span {
    transition: color .4s;
}

.aside__submenu li i {
    transition: opacity .5s;
    font-size: 25px;
    color: #ff8b00;
    opacity: 0;
    line-height: 20px;
    margin-left: 5px;
}
.aside__submenu li:hover i {
    opacity: 1;
}

.aside-buttons {
    margin-top: 20px;
}
